{% extends "./_base.jinja2" %}
{% block content %}
  {% set nagoya = detectors.filter_by(det_name="mt_nagoya").one() %}
  <button class="btn btn-primary" type="button" data-toggle="collapse"
          data-target="#collapse_{{ nagoya.det_name }}"  aria-expanded="false"
          aria-controls="collapse_{{ nagoya.det_name }}">
    Show {{ nagoya.det_name }}
  </button>
  <div class="collapse" id="collapse_{{ nagoya.det_name }}">
    <div class="card card-body">
      <p>Info for '{{ nagoya.det_name }}': Latitude: {{ nagoya.lat }}, Longitude: {{ nagoya.lon }}</p>
      {% for dir in nagoya.directions %}
        <p>Info for '{{ dir.dir_name }}' direction: Theta: {{ dir.theta }}, Depth: {{ dir.depth }}</p>
      {% endfor %}
    </div>
  </div>
{#  {% for detector in detectors %}#}
{#    <button#}
{#        class="btn btn-primary" type="button"#}
{#        data-toggle="collapse" data-target="#collapseExample"#}
{#        aria-expanded="false" aria-controls="collapseExample"#}
{#    >#}
{#      Show {{ detector.det_name }}#}
{#    </button>#}
{#  {% endfor %}#}

  <ul class="list-group">
  </ul>
{% endblock %}
